/* Ukuran A4 */

@page {
  size: A4;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color:#d2e9fd;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #ffffff;
  width: 210mm;
  height: 297mm;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #94bbe2;
  color: #ffffff;
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 4 5px rgba(0,0,0,0.2);
}

.header h1 {
  color: #ffffff;
  font-size: 28px;
  
}

.photo img {
  width: 180px;
  height: 180px;
  border-radius: 60%;
  object-fit: cover;
  border: 4px solid #ffffff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.profile {
  margin-top: 20px;
}

.profile h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.profile p {
  font-size: 14px;
  color: #2c3e50;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #000;
  width: 50%;
}

.section {
  margin-bottom: 20px;
  border-bottom:2px solid #ecf4db;
  
}

.section h3 {
  font-size: 16px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.section ul {
  list-style: none;
  padding-left: 0;
}

.section ul li {
  font-size: 14px;
  margin-bottom: 5px;
}

.kontak  {
  .kontak {
  text-align: center; /* Memusatkan teks */
  position: absolute; /* Posisi absolut untuk menempatkan di bagian bawah */
  bottom: 20px; /* Jarak dari bagian bawah */
  left: 50%; /* Memulai dari tengah secara horizontal */
  transform: translateX(-50%); /* Memastikan elemen benar-benar di tengah */
  width: 100%; /* Opsional: agar elemen tetap responsif */
}
}